
/*全体　共通
最初から設定してあるので特に変更
しなくても大丈夫です♪
-----------------*/
body{
	font-family: Roboto, "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	line-height: 1.75;
	font-size: 16px;
}


/*　パディングをサイズ内側にする処理　*/
* {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/*ーーーーーーーーーーー*/
/*この下から記述*/
/*ーーーーーーーーーーー*/
.fight-space {
	width: 1530px;
	height: 600px;
	background-color: black;
	position: relative;
}
#space {
	position: absolute;
	width: 950px;
	height: 500px;
	top: 10%;
	left: 36%;
	transform: translate(-30%);
}
#busyo-1 {
	position: absolute;
	width: 120px;
	height: 180px;
	top: 35%;
	left: 20%;
	transform: translate(-20%);
}
.red {
	filter: invert(15%) sepia(95%) saturate(6932%) hue-rotate(358deg) brightness(95%) contrast(112%);
}
#busyo-2 {
	position: absolute;
	width: 120px;
	height: 180px;
	top: 5%;
	left: 8%;
	transform: translate(-20%);
}
#busyo-3 {
	position: absolute;
	width: 120px;
	height: 180px;
	top: 65%;
	left: 8%;
	transform: translate(-20%);
}
#kizu-1 {
	position: absolute;
	width: 120px;
	height: 180px;
	top: 35%;
	left: 19%;
	transform: translate(-20%);
	transform: rotate(55deg);
}
#kizu-2 {
	position: absolute;
	width: 120px;
	height: 180px;
	top: 5%;
	left: 7%;
	transform: translate(-20%);
	transform: rotate(55deg);
}
#kizu-3 {
	position: absolute;
	width: 120px;
	height: 180px;
	top: 65%;
	left: 7%;
	transform: translate(-20%);
	transform: rotate(55deg);
}
#sin-f {
	position: absolute;
	width: 120px;
	height: 120px;
	top: 40%;
	left: 3%;
	transform: translate(-20%);
}
#butai-1 {
	position: absolute;
	width: 60px;
	height: 90px;
	top: 42%;
	left: 28%;
	transform: translate(-20%);
	transform: rotate(90deg);
}
#butai-2 {
	position: absolute;
	width: 60px;
	height: 90px;
	top: 12%;
	left: 16%;
	transform: translate(-20%);
	transform: rotate(90deg);
}
#butai-3 {
	position: absolute;
	width: 60px;
	height: 90px;
	top: 72%;
	left: 16%;
	transform: translate(-20%);
	transform: rotate(90deg);
}
#teki-1 {
	position: absolute;
	width: 120px;
	height: 180px;
	top: 35%;
	left: 72%;
	transform: translate(-20%);
}
#teki-2 {
	position: absolute;
	width: 120px;
	height: 180px;
	top: 5%;
	left: 84%;
	transform: translate(-20%);
}
#teki-3 {
	position: absolute;
	width: 120px;
	height: 180px;
	top: 65%;
	left: 84%;
	transform: translate(-20%);
}
#tkizu-1 {
	position: absolute;
	width: 120px;
	height: 180px;
	top: 35%;
	left: 71%;
	transform: translate(-20%);
	transform: rotate(55deg);
}
#tkizu-2 {
	position: absolute;
	width: 120px;
	height: 180px;
	top: 5%;
	left: 83%;
	transform: translate(-20%);
	transform: rotate(55deg);
}
#tkizu-3 {
	position: absolute;
	width: 120px;
	height: 180px;
	top: 65%;
	left: 83%;
	transform: translate(-20%);
	transform: rotate(55deg);
}
#teki-f {
	position: absolute;
	width: 120px;
	height: 120px;
	top: 40%;
	left: 88%;
	transform: translate(-20%);
}
#t-butai-1 {
	position: absolute;
	width: 60px;
	height: 90px;
	top: 42%;
	left: 64%;
	transform: translate(-20%);
	transform: rotate(-90deg);
}
#t-butai-2 {
	position: absolute;
	width: 60px;
	height: 90px;
	top: 12%;
	left: 76%;
	transform: translate(-20%);
	transform: rotate(-90deg);
}
#t-butai-3 {
	position: absolute;
	width: 60px;
	height: 90px;
	top: 72%;
	left: 76%;
	transform: translate(-20%);
	transform: rotate(-90deg);
}
#kaisen {
	position: absolute;
	width: 400px;
	height: 200px;
	top: 33%;
	left: 41%;
	transform: translate(-20%);
}
#kaisen:hover {
	/* リンクをホバーしたときのカーソルにする。 */
	cursor: pointer;
}
#kaisen:active {
	position: relative;
	top: 200px;
}
.life1-1 {
	position: absolute;
  	width: 20px;
  	height: 20px;
  	background: firebrick;
  	border-radius: 50%;	
	top: 38%;
	left: 16%;
	transform: translate(-20%);
}
.life1-2 {
	position: absolute;
  	width: 20px;
  	height: 20px;
  	background: firebrick;
  	border-radius: 50%;	
	top: 48%;
	left: 16%;
	transform: translate(-20%);
}
.life1-3 {
	position: absolute;
  	width: 20px;
  	height: 20px;
  	background: firebrick;
  	border-radius: 50%;	
	top: 58%;
	left: 16%;
	transform: translate(-20%);
}
.life2-1 {
	position: absolute;
  	width: 20px;
  	height: 20px;
  	background: firebrick;
  	border-radius: 50%;	
	top: 8%;
	left: 4%;
	transform: translate(-20%);
}
.life2-2 {
	position: absolute;
  	width: 20px;
  	height: 20px;
  	background: firebrick;
  	border-radius: 50%;	
	top: 18%;
	left: 4%;
	transform: translate(-20%);
}
.life2-3 {
	position: absolute;
  	width: 20px;
  	height: 20px;
  	background: firebrick;
  	border-radius: 50%;	
	top: 28%;
	left: 4%;
	transform: translate(-20%);
}
.life3-1 {
	position: absolute;
  	width: 20px;
  	height: 20px;
  	background: firebrick;
  	border-radius: 50%;	
	top: 68%;
	left: 4%;
	transform: translate(-20%);
}
.life3-2 {
	position: absolute;
  	width: 20px;
  	height: 20px;
  	background: firebrick;
  	border-radius: 50%;	
	top: 78%;
	left: 4%;
	transform: translate(-20%);
}
.life3-3 {
	position: absolute;
  	width: 20px;
  	height: 20px;
  	background: firebrick;
  	border-radius: 50%;	
	top: 88%;
	left: 4%;
	transform: translate(-20%);
}
.tlife1-1 {
	position: absolute;
  	width: 20px;
  	height: 20px;
  	background: firebrick;
  	border-radius: 50%;	
	top: 38%;
	left: 80%;
	transform: translate(-20%);
}
.tlife1-2 {
	position: absolute;
  	width: 20px;
  	height: 20px;
  	background: firebrick;
  	border-radius: 50%;	
	top: 48%;
	left: 80%;
	transform: translate(-20%);
}
.tlife1-3 {
	position: absolute;
  	width: 20px;
  	height: 20px;
  	background: firebrick;
  	border-radius: 50%;	
	top: 58%;
	left: 80%;
	transform: translate(-20%);
}
.tlife2-1 {
	position: absolute;
  	width: 20px;
  	height: 20px;
  	background: firebrick;
  	border-radius: 50%;	
	top: 8%;
	left: 92%;
	transform: translate(-20%);
}
.tlife2-2 {
	position: absolute;
  	width: 20px;
  	height: 20px;
  	background: firebrick;
  	border-radius: 50%;	
	top: 18%;
	left: 92%;
	transform: translate(-20%);
}
.tlife2-3 {
	position: absolute;
  	width: 20px;
  	height: 20px;
  	background: firebrick;
  	border-radius: 50%;	
	top: 28%;
	left: 92%;
	transform: translate(-20%);
}
.tlife3-1 {
	position: absolute;
  	width: 20px;
  	height: 20px;
  	background: firebrick;
  	border-radius: 50%;	
	top: 68%;
	left: 92%;
	transform: translate(-20%);
}
.tlife3-2 {
	position: absolute;
  	width: 20px;
  	height: 20px;
  	background: firebrick;
  	border-radius: 50%;	
	top: 78%;
	left: 92%;
	transform: translate(-20%);
}
.tlife3-3 {
	position: absolute;
  	width: 20px;
  	height: 20px;
  	background: firebrick;
  	border-radius: 50%;	
	top: 88%;
	left: 92%;
	transform: translate(-20%);
}

.lost1-1 {
	position: absolute;
  	width: 20px;
  	height: 20px;
	background-color: whitesmoke;
	border: 3px firebrick solid;
  	border-radius: 50%;	
	top: 38%;
	left: 16%;
	transform: translate(-20%);
}
.lost1-2 {
	position: absolute;
  	width: 20px;
  	height: 20px;
	background-color: whitesmoke;
	border: 3px firebrick solid;
  	border-radius: 50%;	
	top: 48%;
	left: 16%;
	transform: translate(-20%);
}
.lost1-3 {
	position: absolute;
  	width: 20px;
  	height: 20px;
	background-color: whitesmoke;
	border: 3px firebrick solid;
  	border-radius: 50%;	
	top: 58%;
	left: 16%;
	transform: translate(-20%);
}
.lost2-1 {
	position: absolute;
  	width: 20px;
  	height: 20px;
	background-color: whitesmoke;
	border: 3px firebrick solid;
  	border-radius: 50%;	
	top: 8%;
	left: 4%;
	transform: translate(-20%);
}
.lost2-2 {
	position: absolute;
  	width: 20px;
  	height: 20px;
	background-color: whitesmoke;
	border: 3px firebrick solid;
  	border-radius: 50%;	
	top: 18%;
	left: 4%;
	transform: translate(-20%);
}
.lost2-3 {
	position: absolute;
  	width: 20px;
  	height: 20px;
	background-color: whitesmoke;
	border: 3px firebrick solid;
  	border-radius: 50%;	
	top: 28%;
	left: 4%;
	transform: translate(-20%);
}
.lost3-1 {
	position: absolute;
  	width: 20px;
  	height: 20px;
	background-color: whitesmoke;
	border: 3px firebrick solid;
  	border-radius: 50%;	
	top: 68%;
	left: 4%;
	transform: translate(-20%);
}
.lost3-2 {
	position: absolute;
  	width: 20px;
  	height: 20px;
	background-color: whitesmoke;
	border: 3px firebrick solid;
  	border-radius: 50%;	
	top: 78%;
	left: 4%;
	transform: translate(-20%);
}
.lost3-3 {
	position: absolute;
  	width: 20px;
  	height: 20px;
	background-color: whitesmoke;
	border: 3px firebrick solid;
  	border-radius: 50%;	
	top: 88%;
	left: 4%;
	transform: translate(-20%);
}
.tlost1-1 {
	position: absolute;
  	width: 20px;
  	height: 20px;
	background-color: whitesmoke;
	border: 3px firebrick solid;
  	border-radius: 50%;	
	top: 38%;
	left: 80%;
	transform: translate(-20%);
}
.tlost1-2 {
	position: absolute;
  	width: 20px;
  	height: 20px;
	background-color: whitesmoke;
	border: 3px firebrick solid;
  	border-radius: 50%;	
	top: 48%;
	left: 80%;
	transform: translate(-20%);
}
.tlost1-3 {
	position: absolute;
  	width: 20px;
  	height: 20px;
	background-color: whitesmoke;
	border: 3px firebrick solid;
  	border-radius: 50%;	
	top: 58%;
	left: 80%;
	transform: translate(-20%);
}
.tlost2-1 {
	position: absolute;
  	width: 20px;
  	height: 20px;
	background-color: whitesmoke;
	border: 3px firebrick solid;
  	border-radius: 50%;	
	top: 8%;
	left: 92%;
	transform: translate(-20%);
}
.tlost2-2 {
	position: absolute;
  	width: 20px;
  	height: 20px;
	background-color: whitesmoke;
	border: 3px firebrick solid;
  	border-radius: 50%;	
	top: 18%;
	left: 92%;
	transform: translate(-20%);
}
.tlost2-3 {
	position: absolute;
  	width: 20px;
  	height: 20px;
	background-color: whitesmoke;
	border: 3px firebrick solid;
  	border-radius: 50%;	
	top: 28%;
	left: 92%;
	transform: translate(-20%);
}
.tlost3-1 {
	position: absolute;
  	width: 20px;
  	height: 20px;
	background-color: whitesmoke;
	border: 3px firebrick solid;
  	border-radius: 50%;	
	top: 68%;
	left: 92%;
	transform: translate(-20%);
}
.tlost3-2 {
	position: absolute;
  	width: 20px;
  	height: 20px;
	background-color: whitesmoke;
	border: 3px firebrick solid;
  	border-radius: 50%;	
	top: 78%;
	left: 92%;
	transform: translate(-20%);
}
.tlost3-3 {
	position: absolute;
  	width: 20px;
  	height: 20px;
	background-color: whitesmoke;
	border: 3px firebrick solid;
  	border-radius: 50%;	
	top: 88%;
	left: 92%;
	transform: translate(-20%);
}
.talk-space {
	width: 1530px;
	height: 150px;
	background-color: black;
	position: relative;
}
.syouheikun {
	position: absolute;
	width: 180px;
	height: 140px;
	top: 0%;
	left: 2.3%;
	transform: translate(-20%);
	border: 4px solid;
	border-color: white;
	border-radius: 8px;
}
.katari {
	position: absolute;
	width: 1260px;
	height: 140px;
	top: 0%;
	left: 28.2%;
	transform: translate(-20%);
}
.balloon-left {
	position:relative;
	display: inline-block;
	padding: 7px 10px;
	width: 1000px;
	height: 140px;
	left: 1.3%;
	color: #555;
	background: #FFF;
	border: solid 3px #555;
	box-sizing: border-box;
	border-radius: 8px;
}
.balloon-left::before {
	content: "";
	position: absolute;
	top: 20%;
	left: -32px;
	margin-top: -18px;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 16px solid transparent;
	border-right: 18px solid #FFF;
	z-index: 2;
}
.balloon-left::after {
	content: "";
	position: absolute;
	top: 20%;
	left: -38px;
	margin-top: -20px;
	border-bottom: 12px solid transparent;
	border-top: 12px solid transparent;
	border-left: 18px solid transparent;
	border-right: 20px solid #555;
	z-index: 1;
}
.balloon-left p {
	margin: 0;
	padding-top: 5px;
	font-size: 20px;
	font-family: 'Yuji Boku', serif;
}
.balloon-left label {
	font-size: 16px;
	font-family: 'Yuji Boku', serif;
}
.balloon-left p::after {
	content: "";
	display: inline-block;
	width: 0;
	height: 0;
	border-top: 10px solid black;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}
.balloon-left p:hover::after {
	/* リンクをホバーしたときのカーソルにする。 */
	cursor: pointer;
}
.balloon-left p:active:after {
	position: relative;
	top: 5px;
}
#syouri {
	position: absolute;
	width: 520px;
	height: 350px;
	top: 23%;
	left: 38%;
	transform: translate(-20%);
}
#haiboku {
	position: absolute;
	width: 520px;
	height: 350px;
	top: 23%;
	left: 38%;
	transform: translate(-20%);
}
.fade0 {
	visibility: hidden;
	opacity: 0;
}
.fade {
	visibility: visible;
	opacity: 0;
	animation: fadeIn 2s ease 0s 1 normal forwards;
}
@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

/*どの部分のcssに対して
命令をしているのかコメントを
記載しよう！
---------------------*/


/*
---------------------*/



/*
---------------------*/



/*
---------------------*/



/*
---------------------*/
